body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*Barra de Navegación*/

.main-nav {
    background-color: #2A5C6B;
}

.main-nav a{
    color: #FFF !important;
}

.main-nav{
    float: right;
}

/*Boton principal*/
.btn-primary {
    border-color: #5B7A84;
    background-color: #489DB8;
}

    .btn-primary:hover {
        background-color: #7FAAB8;
    }

/*h2*/
h2{
    color: #8F8073;
}

/*formulario*/
section.content{
    margin-top: 20px;
}

form label {
    line-height: 1;
    font-size: 18px;
}

.pantallaPrincipal {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 6px;
    margin-bottom: 30px;
    color: inherit;
    background-image: url('../Content/IMG/fondoPerrosyGatos.jpg');
}